# Top level.
include *.txt
include *.rst
include *.md

# Non-python files.
recursive-include jupyter_sphinx_theme *
recursive-exclude node_modules *

# Extraneous files.
global-exclude .DS_Store
global-exclude *.pyc
exclude node_modules
exclude demo
exclude fabfile.py
