p.caption {
  padding-left: 0.75em;
  margin-bottom: 0em;
}
p.caption:not(:first-child) {
  padding-top: 0.75em;
}
.toctree-l1 a.reference:before {
  padding-right: 0.5em !important;
  content: '';
}
